<ng-container>
  <mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>My Contact App</span>
  </mat-toolbar>

  <mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav" [fixedInViewport]="false">

      <mat-nav-list>
        <a mat-list-item [routerLink] = "'/addaddress'">Add Address</a>
        <a mat-list-item [routerLink] = "'/listperson'">List Person</a>
        <a mat-list-item [routerLink] = "'/presontree'">Person Tree</a>
        <a mat-list-item [routerLink] = "'/presondrop'">Person Drop</a>
        
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <mat-toolbar class="footer">Footer</mat-toolbar>
</ng-container>