<h1>Person List</h1>

<div class="action-wrapper">
  <button mat-raised-button color="primary" (click)="addPerson()">
    Create Person
  </button>
  <button mat-raised-button color="accent" (click)="showRandomPerson()">
    Show Random Person
  </button>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements"
    matSortActive="firstName" matSortDirection="asc" matSortDisableClear>
    <!-- Id Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.firstName}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.lastName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary"(click)="editPerson(row)"> 
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deletePerson(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5,10]"
    showFirstLastButtons>
  </mat-paginator>
</div>